In [2]:
import os
import pandas as pd
import openai
import matplotlib.pyplot as plt
import numpy as np

In [3]:
def gpt_answer(msg):

    openai.api_key="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"

    answer=[]

    completion = openai.ChatCompletion.create(
        model = "gpt-3.5-turbo",
        messages=[{"role": "system", "content": "You are a helpful assistant."},
                    {"role": "user", "content": msg}]
        )

    for choice in completion.choices:
        print(choice['message']['content'])
        answer.append(choice['message']['content'].strip())

    return answer

In [4]:
def compare_graph(df):

    # Read the CSV file
    data = df

    # Extract the data for x and y axes from the CSV columns
    x_values = data.iloc[:, 0]  # Assuming x-values are in the first column
    y1_values = data.iloc[:, 1]  # Extract y-values from the second column
    y2_values = data.iloc[:, 2]
    y3_values = data.iloc[:, 3]
    y4_values = data.iloc[:, 4]

    # Set the width of the bars
    bar_width = 0.2

    # Calculate the x-axis positions for the bars
    x1 = np.arange(len(x_values))
    x2 = x1 + bar_width
    x3 = x2 + bar_width
    x4 = x3 + bar_width
  # Create the bar plot
    plt.bar(x1, y1_values, width=bar_width, label='Y1')
    plt.bar(x2, y2_values, width=bar_width, label='Y2')
    plt.bar(x3, y3_values, width=bar_width, label='Y3')
    plt.bar(x4, y4_values, width=bar_width, label='Y4')

    # Rotate x-axis labels
    plt.xticks(rotation=90)

    # Add labels and title
    plt.xlabel('X-axis')
    plt.ylabel('Y-axis')
    plt.title('Bar Graph from CSV Data')
    plt.legend()

    # Display the graph
    plt.show()

In [5]:
def csv_reading(path):
    df = pd.read_csv(path)
    df = df.drop(['fk_id'], axis = 1)
    return df

In [6]:
def multi_csv(df1, df2):
    df = pd.merge(df1, df2, on = 'biz_dt', how='outer')
    return df

In [7]:
df1= csv_reading('/home/fastcampus/Test_model /매출 데이터셋/비급여 총매출.csv/365송도경희한의원 비급여 총매출.csv')
df2= csv_reading('/home/fastcampus/Test_model /매출 데이터셋/총진료비.csv/365송도경희한의원 총진료비.csv')
df = multi_csv(df1,df2)
df3 = csv_reading('/home/fastcampus/Test_model /환자수 데이터셋/신규 환자 수.csv/365송도경희한의원 신규 환자 수.csv')
df = multi_csv(df, df3)
df4 = csv_reading('/home/fastcampus/Test_model /환자수 데이터셋/환자 수.csv/365송도경희한의원 환자 수.csv')
df = multi_csv(df, df4)
df5 = csv_reading('/home/fastcampus/Test_model /매출 데이터셋/자보매출.csv/365송도경희한의원 자보매출.csv')
df6 = csv_reading('/home/fastcampus/Test_model /예약 데이터셋/예약환자 수.csv/365송도경희한의원 예약환자 수.csv')
df7 = csv_reading('/home/fastcampus/Test_model /매출 데이터셋/공단청구금.csv/365송도경희한의원 공단청구금.csv')
df = multi_csv(df, df5)
df = multi_csv(df, df6)
df = multi_csv(df, df7)
# df = df.set_index('biz_dt')
df = df.dropna(how='all')
df = df.dropna(axis=1, how='all')
df

# df8 =
# df9 =
# df10 =
# df11 =
# df12 =
# df13 =
# df14 =
# df15 =

,biz_dt,nonbenefit_total_pay,total_pay,fstvisit_cnt,visit_cnt,carinsur_pay,nhis_pay
0,2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-02-01,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-01,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-04-01,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-01,NaN,NaN,NaN,NaN,NaN,NaN
5,2018-06-01,NaN,NaN,NaN,NaN,NaN,NaN
6,2018-07-01,NaN,NaN,NaN,NaN,NaN,NaN
7,2018-08-01,NaN,NaN,NaN,NaN,NaN,NaN
8,2018-09-01,NaN,NaN,NaN,NaN,NaN,NaN
9,2018-10-01,NaN,NaN,NaN,NaN,NaN,NaN
10,2018-11-01,NaN,NaN,NaN,NaN,NaN,NaN
11,2018-12-01,NaN,NaN,NaN,NaN,NaN,NaN
12,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN
13,2019-02-01,NaN,NaN,NaN,NaN,NaN,NaN
14,2019-03-01,NaN,NaN,NaN,NaN,NaN,NaN
15,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN
16,2019-05-01,NaN,NaN,NaN,NaN,NaN,NaN
17,2019-06-01,NaN,NaN,NaN,NaN,NaN,NaN
18,2019-07-01,NaN,NaN,NaN,NaN,NaN,NaN
19,2019-08-01,NaN,NaN,NaN,NaN,NaN,NaN
20,2019-09-01,NaN,NaN,NaN,NaN,NaN,NaN
21,2019-10-01,NaN,NaN,NaN,NaN,NaN,NaN
22,2019-11-01,NaN,NaN,NaN,NaN,NaN,NaN
23,2019-12-01,NaN,NaN,NaN,NaN,NaN,NaN
24,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN
25,2020-02-01,NaN,NaN,NaN,NaN,NaN,NaN
26,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN
27,2020-04-01,NaN,NaN,NaN,NaN,NaN,NaN
28,2020-05-01,NaN,NaN,NaN,NaN,NaN,NaN
29,2020-06-01,NaN,NaN,NaN,NaN,NaN,NaN
30,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN
31,2020-08-01,NaN,NaN,NaN,NaN,NaN,NaN
32,2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN
33,2020-10-01,NaN,NaN,NaN,NaN,NaN,NaN
34,2020-11-01,NaN,NaN,NaN,NaN,NaN,NaN
35,2020-12-01,4134490.0,38954840.0,266.0,617.0,10722760.0,16210390.0
36,2021-01-01,10866800.0,95061590.0,348.0,1436.0,33338050.0,34048090.0
37,2021-02-01,9296000.0,86382290.0,304.0,1349.0,35982510.0,28007520.0
38,2021-03-01,13728600.0,108872670.0,394.0,1909.0,37513380.0,39915880.0
39,2021-04-01,10303450.0,98935220.0,345.0,1931.0,31505860.0,40249540.0
40,2021-05-01,14813300.0,115999380.0,378.0,2127.0,38772930.0,44324080.0
41,2021-06-01,12617760.0,117767700.0,377.0,2207.0,45204940.0,42278000.0
42,2021-07-01,15719400.0,121484310.0,360.0,2252.0,44726470.0,43114180.0
43,2021-08-01,12141150.0,114460870.0,360.0,2333.0,35506570.0,47577750.0
44,2021-09-01,18789910.0,109504370.0,341.0,2092.0,33712210.0,40955540.0
45,2021-10-01,14245800.0,113742140.0,341.0,2181.0,41823380.0,41601930.0

In [9]:
prompt = f"다음 주어지는 테이블은 csv 형식의 테이블이야 {df.to_string(index=False)}.  이 테이블에서 'biz_dt'는 '날짜'를 의미하며, 'nonbenefit_total_pay'는 '비급여 총 매출'을, 'total_pay'는 '총 매출'을, 'visit_cnt'는 환자 수를,'fstvisit_cnt'는 '신규 환자수'를, 'carinsur_pay'는 '자보매출'을, 'nhis_pay'는 '공단청구금'을 의미해. 위 테이블 데이터를 종합하여 특이점과 변동하는 값들에 기반하여 이 병원을 위한 피드백 질문 5가지를 생성해줘. 구체적인 날짜를 언급해줘. 질문중 3개는 총매출과 비급여매출과 환자수, 자보매출, 공당청구금등을 복합적으로 다루는 질문으로 만들어줘."

# compare_graph(df)

raw_qs = gpt_answer(prompt)
raw_qs

1. 코로나19 대유행으로 인하여 어떤 기간에서 변동이 가장 크게 나타났나요?
2. 2021년 1월부터 10월까지 비급여 총 매출이 증가했는데, 이는 어떤 서비스에서 증가했나요?
3. 최근 3개월간 총 매출이 감소했습니다. 이는 어떤 요인에 의해 발생한 것일까요?
4. 2020년 12월과 2021년 1월 사이에 신규 환자수가 급격히 증가했습니다. 이는 어떤 이유에서 발생한 것인가요?
5. 2021년 6월과 7월에 자보매출과 공당청구금이 동시에 증가했습니다. 이는 어떤 원인이 있는 것일까요?

['1. 코로나19 대유행으로 인하여 어떤 기간에서 변동이 가장 크게 나타났나요?\n2. 2021년 1월부터 10월까지 비급여 총 매출이 증가했는데, 이는 어떤 서비스에서 증가했나요?\n3. 최근 3개월간 총 매출이 감소했습니다. 이는 어떤 요인에 의해 발생한 것일까요?\n4. 2020년 12월과 2021년 1월 사이에 신규 환자수가 급격히 증가했습니다. 이는 어떤 이유에서 발생한 것인가요?\n5. 2021년 6월과 7월에 자보매출과 공당청구금이 동시에 증가했습니다. 이는 어떤 원인이 있는 것일까요?']